/.idea/
/node_modules/
*.zip
/locale/
/.vscode/
.vscode/settings.json
package-lock.json
/dist/
/.nyc_output/
/coverage/
/.nycrc
.prettierrc
*_old.*
prefs.ts
constants_*_test.ts
yarn.lock
gschemas.compiled