pkgbase = gnome-shell-extension-text-clock
	pkgdesc = A simple text clock for the GNOME Shell top panel
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/wtbenica/text-clock
	install = gnome-shell-extension-text-clock.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = unzip
	makedepends = curl
	depends = gnome-shell>=45
	noextract = text-clock@benica.dev.zip
	source = text-clock@benica.dev.zip::https://github.com/wtbenica/text-clock/releases/download/v1.1.0/text-clock@benica.dev.zip
	sha256sums = 0de4f76628145270e49c054ee1263f68be78659d0acc0c146b34b40eb8ec3261

pkgname = gnome-shell-extension-text-clock
